[submodule "debug"]
	path = ./clibs/debug
	url = git://github.com/0x00A/debug.git
[submodule "inih"]
	path = ./clibs/inih/
	url = git://github.com/clibs/inih.git
[submodule "clibs/inih"]
	path = clibs/inih
	url = https://github.com/clib/inih.git
[submodule "clibs/debug"]
	path = clibs/debug
	url = https://github.com/0x00A/debug.git
